/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		@apply m-0 p-0;
	}

	body > div {
		@apply flex min-h-screen flex-col;
	}

	a {
		@apply text-blue-link hover:text-gray-900;
		color: #1e73ba;
	}

	a:hover {
		color: #111827;
	}

	h1 {
		@apply mb-4 text-3xl font-bold;
	}

	.header-menu-icon {
		@apply h-8 w-8 cursor-pointer text-gray-700;
	}

	.nav-icon {
		@apply h-6 w-6 text-gray-500 xxl:h-5 xxl:w-5 xxxl:h-6 xxxl:w-6;
	}

	.arrow-wrap {
		@apply ml-auto border-l border-gray-300 px-1;
	}

	.collapsed .arrow-wrap {
		@apply hidden;
	}

	.nav-arrow {
		@apply h-5 w-5;
	}

	.nav-arrow.closed {
		@apply text-gray-300;
	}

	.nav-arrow.open {
		@apply rotate-90 text-gray-400;
	}

	/*
	* Tab navigation menus
	*/
	.navmenu a::before,
	.navmenu li span::before {
		display: block;
		content: attr(data-title);
		font-weight: 600;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}

	.navmenu {
		@apply flex w-full flex-row overflow-x-auto whitespace-nowrap;
	}

	@media screen and (max-width: 600px) {
		.navmenu:not(.noshadow) {
			background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white),
				linear-gradient(to right, rgba(150, 150, 150, 0.15), rgba(255, 255, 255, 0)),
				linear-gradient(to left, rgba(150, 150, 150, 0.15), rgba(255, 255, 255, 0));
			background-position: left center, right center, left center, right center;
			background-repeat: no-repeat;
			background-color: white;
			background-size: 10px 100%, 10px 100%, 10px 100%, 10px 100%;
			background-attachment: local, local, scroll, scroll;
		}
	}

	.navmenu.submenu {
		background-image: none;
	}

	.navmenu li a,
	.navmenu li span {
		@apply block py-1.5 px-2 text-sm xs:px-3 xs:text-base sm:py-2 sm:px-5;
	}

	.navmenu.smaller li a,
	.navmenu.smaller li span {
		@apply text-sm xs:text-smaller sm:px-4;
	}

	.navmenu.submenu li a,
	.navmenu.submenu li span {
		@apply px-2.5 text-sm xs:text-small bp:px-3 bp:text-base sm:px-4;
	}

	.navmenu.submenu.tight li a {
		@apply px-1.5 text-tiny xs:px-2 xs:text-small bp:px-2.5 bp:text-base sm:px-4;
	}

	.navmenu.submenu li span {
		@apply cursor-pointer;
	}

	.navmenu li a,
	.navmenu li span {
		@apply transition duration-100 hover:bg-gray-100;
	}

	.navmenu li a.active,
	.navmenu li span.active {
		@apply bg-[#eee] font-semibold text-gray-900 focus:outline-none;
		background-color: #eee;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.hide-scroll::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.hide-scroll {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.text-shadow {
		text-shadow: 0 0 0.5px #555555;
	}

}